@page "/TechnicalAnalysis"
@inject BlitBot.Data.ChartService charting

<style>
    html, body, .page {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    article.content {
        margin: 0;
        padding: 0!important;
        height: 100%;
    }
    
    article.content > div {
        height: 100%;
    }
</style>

<PageTitle>Technical Analysis</PageTitle>

<div class="tradingview-widget-container"></div>

@code
{
    protected override Task OnAfterRenderAsync(bool firstRender) => 
        charting.LoadTechnicalAnalysis(".tradingview-widget-container");
}
